html {
  font-size: 62.5%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
}
ul {
  list-style: disc;
  padding: 1rem 1rem 1rem 4rem;
}
h1,
h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}
tr {
  line-height: 1.5;
}
td {
  padding-right: 1rem;
}
th {
  padding-right: 2rem;
}
.eka {
  display: flex;
  flex-direction: row; /* Display .boxes elements in a row */
  align-items: flex-start; /* Allow elements to take content-based height */
}
/* .ulheaders {
  list-style: none;
}
.ulboxes {
  background: lightgray;
} */
i {
  padding-left: 2px;
  padding-right: 2px;
}
